

body { background-color: #EEE; }
h1 {
	font-weight: bold;
	font-size: 2em;
	padding-bottom: 1em;
	background-color: yellow;
}
#wrapper { width: 900px; margin: 60px auto; background-color: #FFF;}
#nav {
	float: left;
	width: 200px;
	height: 400px;
	background-color: #FA7;
}

#nav li {
	cursor: pointer;
}

#usersection {
	float: right;
	height: 40px;
	width: 150px;
	background-color: #CC0;
}

#msg {
	float: right;
}

#msg .ok {
	background-color: green;
}

#msg .fail {
	background-color: red;
}

h2 {
	padding-top: 1em;
	font-weight: bold;
	padding-bottom: 2em;
}